.banner-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 22px 0;
  padding: 0;
  width: 280px;
  list-style: none;
}

.banner-list__item {
  &--apple {
    width: 47px;
    height: 56px;
    background-image: url("../../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 47px auto;
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 43px auto;
  }

  &--windows {
    width: 44px;
    height: 41px;
    background-image: url("../../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 44px auto;
  }
}

.banner-list__legend {
  margin: 0;
  width: 280px;
  color: $white;
  font-weight: 300;
  text-align: center;
}
