.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .effect__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 300px;
    margin: 60px 0;
    width: 600px;
    background-image: url("../../img/timer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    box-sizing: border-box;
  }

  .effect__title {
    display: block;
    width: 135px;
    font-weight: 700;
    font-size: $font-size-lg;
    line-height: $font-secondary-line-height;
  }

  .effect__description {
    font-size: $font-size-s;
    line-height: $font-primary-line-height;
  }

  .effect__description br {
    display: none;
  }

  .effect__link {
    color: $pink;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    justify-content: center;
    background-color: $smoky-white;
    margin: 0;
  }

  .effect__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 60px 0;
    width: 940px;
    background-image: url("../../img/timer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    box-sizing: border-box;
  }

  .effect__title {
    width: 100%;
  }

  .effect__description {
    font-size: $font-size-m;
    line-height: $font-secondary-md-line-height;
  }

  .effect__description br {
    display: inline-block;
  }

  .effect__link {
    font-size: $font-size-m;
    line-height: $font-secondary-md-line-height;
    color: $pink;
    text-decoration: none;
  }
}
