.gallery {
  background-color: $white;
}

.gallery__description {
  margin: 0 auto;
  padding: 50px 20px;
  width: 250px;
  line-height: $font-secondary-md-line-height;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gallery__description {
    padding: 95px 20px 75px 20px;
    width: 500px;
    font-size: $font-size-m;
  }
}
