.main-nav {
  position: relative;
  margin-bottom: -60px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $granite-gray;
  box-sizing: border-box;
}

.main-nav__logo {
  margin: 22px 0 18px 20px;
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;

  &::before {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $white;
    content: "";
  }
}

.main-nav--closed {
  width: 100%;
  background-color: rgba(29, 38, 49, 0.7);
}

.main-nav--opened .main-nav__toggle,
.main-nav--nojs .main-nav__toggle {
  display: block;
  border: none;
  width: 30px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 5px;

    background-color: $white;
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs {
  position: relative;
  display: flex;
  background-color: $granite-gray;
}

.main-nav--nojs .menu-list__item {
  display: block;
  background-color: $granite-gray;
}

.main-nav__list {
  flex-grow: 1;
  width: 100%;
}


@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: rgba(12, 16, 20, 0.3);
  }

  .main-nav__logo {
    margin: 22px 168px 18px 20px;
  }

  .main-nav--opened .main-nav__toggle,
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-grow: 0;
    width: auto;
  }
}
