.mission-list {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: $font-primary-line-height;
  color: $granite-gray;
  background-color: $smoky-white;
  list-style: none;
}

.mission-list__item {
  margin-bottom: 35px;
  text-align: center;
}

.mission-list__item:last-child {
  margin-bottom: 0;
}

.mission-list__title {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: $font-size-lg;
  line-height: normal;
  text-align: center;
}

.mission-list__description {
  display: inline-block;
  margin: 0;
  text-align: center;
}
