.mission-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  margin: 0;
  font-weight: 400;
  font-size: $font-size-s;
  line-height: $font-primary-line-height;
  color: $granite-gray;
  background-color: $smoky-white;
  list-style: none;

  &::before {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 120px;
    background-color: $smoky-white;
    transform: skewY(-4deg);
    content: "";
  }
}

.mission-list__item {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.mission-list__item:last-child {
  padding-bottom: 270px;
  margin-bottom: 0;

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 320px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-size: 157px 320px;
    background-repeat: no-repeat;
    background-position: center 45px;
    content: "";
  }
}

.mission-list__title {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: $font-size-lg;
  line-height: normal;
  text-align: center;
}

.mission-list__description {
  display: inline-block;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .mission-list {
    margin: 0 auto;
    padding: 50px 20px 30px 350px;
    align-items: center;
    box-sizing: border-box;
  }

  .mission-list__item {
    width: 275px;
    margin-bottom: 20px;
  }

  .mission-list__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;

    &::after {
      position: absolute;
      left: -340px;
      top: -341px;
      display: block;
      width: 268px;
      height: 481px;
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      background-size: 268px 481px;
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
    }
  }

  .mission-list__title {
    font-size: $font-size-m;
    text-align: left;
  }

  .mission-list__description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .mission-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    margin: 0 auto;
  }

  .mission-list__item {
    width: 292px;
    margin-right: 40px;
  }

  .mission-list__item:nth-child(1) {
    padding-bottom: 0;
    padding-top: 302px;
    margin-bottom: 0;

    &::after {
      position: absolute;
      left: 0;
      top: -55px;
      display: block;
      width: 292px;
      height: 302px;
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      background-size: 292px 302px;
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
    }
  }

  .mission-list__item:nth-child(2) {
    padding-bottom: 0;
    padding-top: 302px;
    margin-bottom: 0;

    &::after {
      position: absolute;
      left: 0;
      top: -55px;
      display: block;
      width: 292px;
      height: 302px;
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-size: 292px 302px;
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
    }
  }

  .mission-list__item:last-child {
    padding-bottom: 0;
    padding-top: 302px;
    margin-bottom: 0;
    margin-right: 0;

    &::after {
      position: absolute;
      left: 0;
      top: -55px;
      display: block;
      width: 292px;
      height: 302px;
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      background-size: 292px 302px;
      background-repeat: no-repeat;
      background-position: center center;
      content: "";
    }
  }

  .mission-list__title {
    text-align: center;
  }

  .mission-list__description {
    text-align: center;
  }
}
