.photos-list {
  @include no-list-style();

  padding-top: 50px;
}

.photos-list__item {
  padding: 0 20px;
  margin-bottom: 20px;
}

.photos-list__item--best-photo {
  padding: 0;
}

.photos-list__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photos-list__item {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    padding: 0;
  }

  .photos-list__item--best-photo {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photos-list {
    justify-content: flex-start;
    margin: 0 auto;
    width: 940px;
  }

  .photos-list__item {
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

