.social-list {
  display: flex;

  @include no-list-style();
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  margin-right: 12px;
  background-color: $white;
  border: 3px solid rgba($greyish-blue, 0.3);
  border-radius: 50%;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__tw,
.social-list__fb,
.social-list__youtube {
  margin-top: 4px;
}

.social-list__youtube {
  margin-left: 5px;
}

.social-list__icon {
  width: 18px;
  height: 14px;
  fill: $pink;
}
