@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/opensanslight.woff");
  src: url("../fonts/opensanslight.woff2") format("woff2");
}
