/* переменные размеров экрана */
$tablet-width: 768px;
$desktop-width: 1200px;

/* переменные шрифтов */
$font-weight-light: "OpenSansLight";
$font-weight-regular: "OpenSansRegular";
$font-weight-bold: "OpenSansBold";
$font-default: "Arial";

/* переменные цветов фона */
$bg-primary: #ffffff;
$bg-secondary: #1d2631;
$bg-secondary-light: #283645;
$bg-secondary-dark: #f2f2f2;

/* переменные размеров шрифта */
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-lg: 24px;

/* переменные межстрочного интервала */
$font-primary-line-height: 24px;
$font-secondary-line-height: 32px;
$font-secondary-md-line-height: 30px;

/* переменные текста primary */
$font-primary-color: #283645;

/* переменные текста secondary */
$font-secondary-color: #ffffff;

/* переменные текста pink */
$pink-color: #d22856;

/* переменные текста bold */
$font-bold-line-height: 18px;
