/* переменные размеров экрана */
$tablet-width: 660px;
$desktop-width: 1200px;

/* переменные цветов */
$white: #ffffff;
$sapphire-blue: #1d2631;
$granite-gray: #283645;
$smoky-white: #f2f2f2;
$pink: #d22856;
$opacity-pink: rgba(210, 40, 86, 0.5);
$black: #000000;
$greyish-blue: #485461;

/* переменные размеров шрифта */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-lg: 24px;
$font-size-ex-lg: 40px;
$font-size-max: 50px;

/* переменные межстрочного интервала */
$font-primary-line-height: 24px;
$font-secondary-line-height: 32px;
$font-secondary-md-line-height: 30px;

/* переменные текста bold */
$font-bold-line-height: 18px;
